/* Headings */
h1 {
  font-size: 24px !important;
  font-weight: bold !important;
}
h2 {
  font-size: 20px !important;
  font-weight: bold !important;
}
h3 {
  font-size: 16px !important;
  font-weight: bold !important;
}
h4 {
  font-size: 14px !important;
  font-weight: bold !important;
}
h5 {
  font-size: 12px !important;
  font-weight: bold !important;
}
h6 {
  font-size: 10px !important;
  font-weight: bold !important;
}

/* Paragraphs */
p {
  font-size: 16px !important;
  font-weight: normal !important;
}

/* Bold */
b {
  font-weight: bold !important;
}

/* Italic */
i {
  font-style: italic !important;
}

/* Lists */
ul {
  list-style-type: disc !important;
  margin-left : 5px !important;
}
ol {
  list-style-type: decimal !important;
  margin-left : 5px !important;
}
li {
  margin-bottom: 10px !important;
  margin-left : 10px !important;
}
